{% extends 'base.html' %}

{% block title %} Blog - Detalhes {% endblock title %}



{% block content %} 

        {% if messages %}
                <ul class="messages">
                        {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
        {% endif %}



  
        <div class='post-entry'>
                
                <h2>{{object.title}}</h2>
                <p>{{ object.content }}</p>

        </div>    
        
        <a href="{{ object.get_absolute_url_update}}">Edit</a><br>
        <a href="{{ object.get_absolute_url_delete }}">Delete</a> 
        <!-- <a href="{% url 'post_delete' object.pk %}">Delete</a>  -->
 


{% endblock content %}
