{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    
    <title>{% block title %}  {% endblock title %}</title>

</head>
<body>
    
    <header>
        <h1><a href="/">Blog - Home</a></h1>
    </header>
    
    <div class='container'></div>
        
        {% block content %} {% endblock content %}
    
    </div>

</body>
</html>